rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function ADMIN_UID_ALLOWLIST() {
      return [
        "REPLACE_WITH_ADMIN_UID"
      ];
    }

    function isAdmin() {
      return request.auth != null && request.auth.uid in ADMIN_UID_ALLOWLIST();
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
